.container {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.formContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 30rem;
  height: 30rem;
  border: 1px solid #d8d8d8;
  border-radius: 0.4rem;
}

.title {
  font-size: 2rem;
  color: #d8d8d8;
  margin-bottom: 1rem;
}
.label {
  color: #fff;
}

.updateInput {
  width: 80%;
  height: 2rem;
  margin: 1rem 0;
  padding: 0.5rem;
  border: 1px solid #f35815;
  border-radius: 0.4rem;
  outline: none;
  background-color: transparent;
  color: #fff;
}
.updateButton {
  border: 1px solid #f35815;
  background-color: transparent;
  color: #d8d8d8;
  padding: 0.5rem 2rem;
  border-radius: 0.4rem;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  margin-top: 1rem;
}

.updateButton:hover {
  transform: scale(1.1);
}
