.container {
  color: #d8d8d8;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2rem 3rem;
}

.navContent {
  display: flex;
  align-items: center;
}

.title {
  font-size: 1.5rem;
  font-weight: 500;
}

.name {
  margin-right: 2rem;
  color: #f35815;
  cursor: pointer;
}

.buttons {
  border: 1px solid #f35815;
  background-color: transparent;
  color: #d8d8d8;
  padding: 0.5rem 2rem;
  border-radius: 0.4rem;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  margin-right: 1.5rem;
}
